@{
  Layout = "_Layout";
}
@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine

<h2>About @Html.DisplayFor(model => model.Type) Food</h2>
<p>@Html.DisplayFor(model => model.Description)</p>
<hr />

@if(@Model.JoinEntities.Count == 0)
{
  <p>This cuisine does not contain any restaurants</p>
}
else
{
  <h4>Restaurants the cuisine contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Restaurant.Description</li>
  }
  </ul>
}

<hr />
<p class="fancyBtn">@Html.ActionLink("Add New Restaurant", "Create", "Restaurants")</p>
<p class="fancyBtn">@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p class="fancyBtn">@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId })</p>
<p class="fancyBtn">@Html.ActionLink("Back to list", "Index")</p>