@* 
@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h1>EDIT CUISINE |  @Html.DisplayFor(model => model.Type)</h1>
<hr />
@using (Html.BeginForm())
{
  <span> | </span> @Html.HiddenFor(model => model.CuisineId) <span> | </span> 

  @Html.LabelFor(model => model.Type) <span> | </span> 
  @Html.EditorFor(model => model.Type) <span> | </span> 

  @Html.LabelFor(model => model.Description) <span> | </span> 
  @Html.EditorFor(model => model.Description) <span> | </span> 
<hr />
  <input type="submit" value="Save" />
}
<p class="fancyBtn">@Html.ActionLink("Back to Cuisines", "Index")</p> *@