@{ 
  Layout = "_Layout";
  }

@using BestRestaurants.Models;
@model BestRestaurants.Models.Diner

<h1>ADD DINER</h1>
<hr />
@using (Html.BeginForm())
{
@Html.Label("Name: ") 
@Html.TextBoxFor(model => model.DinerName)
<hr />
<p><strong>Allergies: </strong></p>
<p>Check all that apply.</p>
@Html.CheckBoxFor(m => m.NutAllergy)
@Html.Label("| Nuts")
<br>
@Html.CheckBoxFor(m => m.DairyAllergy)
@Html.Label("| Dairy")
<br>
@Html.CheckBoxFor(m => m.GlutenAllergy)
@Html.Label("| Gluten")
@* <br>
@Html.LabelFor(model => model.Restaurant)
@Html.DropDownList("RestaurantId") *@
<hr />
  <input type="submit" value="ADD" class="fancyBtn2" />
}

