@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Diner

<h1>EDIT DINER |  @Html.DisplayFor(model => model.DinerName)</h1>
<hr />
@using (Html.BeginForm())
{
@Html.HiddenFor(model => model.DinerId)
@Html.Label("Name: ") 
@Html.TextBoxFor(model => model.DinerName)
<hr />
<p><strong>Allergies: </strong></p>
<p>Check all that apply.</p>
@Html.CheckBoxFor(m => m.NutAllergy)
@Html.Label("| Nuts")
<br>
@Html.CheckBoxFor(m => m.DairyAllergy)
@Html.Label("| Dairy")
<br>
@Html.CheckBoxFor(m => m.GlutenAllergy)
@Html.Label("| Gluten")
<hr />
  <input type="submit" value="Save" />
}