@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Add a Cuisine for @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select cuisine")
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>