@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h2>Add a Cuisine for @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.Label("Select cuisine")
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Restaurants", "Index", "Restaurants")</p>

// could  be cool to add a button here that also takes you to the create Cuisine incase it isn't listed yet.