@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>About @Html.DisplayFor(model => model.Name)</h2>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Restaurant does not belong to a Cuisine Type.</p>
}
else
{

} 

<ul>
@foreach(var join in Model.JoinEntities)
{
  <li>@join.Cuisine.Type Food</li>
  @using (Html.BeginForm("DeleteCuisine", "Restaurants"))
  {
    @Html.Hidden("joinId", @join.CuisineRestaurantId)
    <input type="submit" value="Delete"/>
  }
}
</ul>

<hr />
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<hr />

<p class="fancyBtn">@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</p>
<p class="fancyBtn">@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
<p class="fancyBtn">@Html.ActionLink("Add a Cuisine", "AddCuisine", new { id = Model.RestaurantId })</p>
<p class="fancyBtn">@Html.ActionLink("Back to Restaurants", "Index", "Restaurants")</p>