@* @{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant

<h1>EDIT RESTAURANT |  @Html.DisplayFor(model => model.Name)</h1>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  <span> | </span> @Html.LabelFor(model => model.Name) <span> | </span> 
  @Html.TextBoxFor(model => model.Name) <span> | </span> 

  @Html.LabelFor(model => model.Description) <span> | </span> 
  @Html.EditorFor(model => model.Description) <span> | </span> 

  @Html.LabelFor(model => model.Cuisine) <span> | </span> 
  @Html.DropDownList("CuisineId") <span> | </span> 
<hr />
  <input type="submit" value="Save" />
}

<p class="fancyBtn">@Html.ActionLink("Back to Restaurants", "Index")</p> *@