@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model List<BestRestaurants.Models.Restaurant>;

<h1>RESTAURANTS</h1>
<hr />
<div class="card">

@if (@Model.Count == 0)
{
  <h3>No Restaurants have been added yet!</h3>
}

@foreach (Restaurant restaurant in Model)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId }) | @restaurant.Cuisine.Type</li>
}
</div>
<hr />
<p class="fancyBtn">@Html.ActionLink("Add Restaurant", "Create")</p>
<p class="fancyBtn">@Html.ActionLink("Add Cuisine", "Create")</p>
